# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env
.env

# FastAPI + Uvicorn Logs
logs/
*.log
*.pid
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
.venv/
*.venv/

# Pytest Cache
.pytest_cache/
coverage/
htmlcov/

# Docker
docker-compose.override.yml
*.dockerfile
.dockerignore
/docker-data/

# IDE / Editor Files
.vscode/
.idea/
*.iml

# Build and Distribution
build/
dist/
*.egg-info/
pip-wheel-metadata/

# System Files
.DS_Store
Thumbs.db
